{% extends "/workspace/Octi-s-Restaurant-Booking-system-/reservation/templates/reservation/base.html" %}
  
{% block content %}

  <!-- display field -->
   <h1 class="">Bookings already made.</h1>
 
   {% for x in person %} 
      <p> {{ x.name }} </p>
      <p> {{ x.email }} </p>
      <p> {{ x.phone }} </p>
      <p> {{ x.persons }} </p>
      <p> {{ x.date }} </p>
      <p>
          <a href = "/delete/{{x.id}} " method="POST">
              <button>Delete</button>
          </a>
      </p>
   {% endfor %} 

{% endblock %}
