{% extends "/workspace/Octi-s-Restaurant-Booking-system-/reservation/templates/reservation/base.html" %}
  
{% block content %}
<h1>
    Very nice dishes yes!
</h1>

<!-- Original form to make a dish. 
<div class="container-fluid" id="bgimg">
    <div class="container mt-3" id="input">
        <h2 class="text-center text-light">Make your own dish!</h2>
        
        <form class="container mt-3" method="POST" action="make_dish">
            {% csrf_token %}
                <div class="form-floating mb-3 mt-3">
                    <input type="text" class="form-control" id="id_name" placeholder="Name" name="dish_name" maxlength="50">
                    <label for="id_name">Name</label>
                </div>
                <div class="form-floating mb-3 mt-3">
                    
                    <label for="text">Dish Description</label>
                    {{ foobar|safe }}
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
</div>
-->

<!-- New attept using a form class.-->

<form action="make_dish" method="post">
  {% csrf_token %}
  <label for="your_name">Your Dish: </label>
  <input id="id_name" type="text" name="dish_name" value="{{ text }}">
  <input id="id_text" type="text" name="dish_text" value="{{ text }}">
  <input type="submit" value="OK">
</form>


<h1 class="">Menu.</h1>
 <div class="row" >

    <div class="col-sm-2">
    </div>

    <div class="col-sm-8">
      <div class="row" >
   {% for dish in dish_list %} 
   
    <div class="col-sm-4" id="booking_container">

      <h5> {{ dish.name }} </h5>
      <h5> {{ dish.text }} </h5>
      <img class="card-img-top" src=" {{ dish.featured_image.url }}">
      
    </div>
    
   {% endfor %} 
    </div>
  </div>

   <div class="col-sm-2">
   </div>


</div>
{% endblock %}