{% extends "/workspace/Octi-s-Restaurant-Booking-system-/reservation/templates/reservation/base.html" %}
  
{% block content %}


<h1 class="">Menu.</h1>
 <div class="row" >

    <div class="col-sm-2">
    </div>

    <div class="col-sm-8">
      <div class="row" >
   {% for dish in dish_list %} 
   
    <div class="col-sm-4" id="booking_container">

      <h5> {{ dish.name|safe }} </h5>
      <h5> {{ dish.text|safe }} </h5>

      <!--{% if "placeholder" in post.featured_image.url %}
          <img class="card-img-top"
            src="https://www.google.at/url?sa=i&url=https%3A%2F%2Fwww.medienwerkstatt-online.de%2Flws_wissen%2Fvorlagen%2Fshowcard.php%3Fid%3D17480%26edit%3D0&psig=AOvVaw1v5FIxfYll-Q7tQXrPpB93&ust=1687443114858000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCIjs1M3F1P8CFQAAAAAdAAAAABAE">
       {% else %}-->
      

            <img class="card-img-top" src=" {{ dish.featured_image.url }}" alt="Tasty dish Image!">

        <!--{% endif %}-->
       
      
    </div>
    
   {% endfor %} 
    </div>
  </div>

   <div class="col-sm-2">
   </div>


</div>
{% endblock %}