<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </script>
    <title>Octi's Restaurant</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<!-- Navigation -->
<nav class="navbar navbar-expand-sm justify-content-center bg-dark">
    
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'menu' %}">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'reserv_table' %}">Make a booking!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'bookings_navigation' %}">View Bookings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'make_dish' %}">Dish Maker 6000!</a>
            </li>
        </ul>
    
</nav>
<body class="text-light" style="background: url('{% static 'Images/bgimg.jpg' %}') no-repeat center center;">
{% block content %}
<!-- Content Goes here -->
{% endblock content %}
</body>
<!-- Footer -->
<footer>

</footer>

<!-- To limit the ammount of characters that can be put int the forms. -->

<script>

id_name.oninput = function () {
    if (this.value.length > 50)
        this.value = this.value.slice(0,50); 
}

id_email.oninput = function () {
    if (this.value.length > 50)
        this.value = this.value.slice(0,50); 
}

id_number.oninput = function () {
    if (this.value.length > 12)
        this.value = this.value.slice(0,12); 
}

id_persons.oninput = function () {
    if (this.value.length > 2)
        this.value = this.value.slice(0,2); 
}

</script>
</html>