{% extends "base.html" %}
  
{% block content %}


<h1 class="">Menu.</h1>
 <div class="row" >

    <div class="col-sm-2">
    </div>

    <div class="col-sm-8">
      <div class="row" >
   {% for dish in dish_list %} 
   
    <div class="col-sm-4" id="booking_container">

      <h5> {{ dish.name|safe }} </h5>
      <h5> {{ dish.text|safe }} </h5>
      <img class="img-fluid " src=" {{ dish.featured_image.url }}" alt="Tasty dish Image!">
    </div>
    
   {% endfor %} 
    </div>
  </div>

   <div class="col-sm-2">
   </div>


</div>
{% endblock %}